/build/**
/coverage/**
/docs/**
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
/lib/util/unicode/is-combining-character.js
test.js
!.eslintrc.js
src/semantic/**
.vscode
public/**
*.sh
src/apollo
src/utils/charting_library
src/charting_library
src/utils/datafeeds
src/_metronic