.ant-select {
	padding: 0.625rem 0px !important;
}

.ant-select-selector {
	background: initial !important;
	border: none !important;
	outline: none !important;
	padding: 0px 1rem !important;
}

.ant-select-selector:focus {
	outline: none !important;
	box-shadow: none !important;
}

.ant-select-selector .ant-select-selection-placeholder {
	padding: 0 0.825rem;
}